@font-face{
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
h1, .logo, h2{
    font-family: "Boots And Spurs", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

nav ul{
    padding: 0px;
}

nav li{
    display: inline-block;
}

header, footer{
    background-color: #202020;
    color: #fff;
}

/* links */
a{
    text-decoration: none;
}

header a{
    color: #fff;
}

.cta{
    background-color: #bb0000;
    color: #fff;
}

.active{
    text-decoration: underline;
}

.reviews{
    background-color: #e8e8e8;
}

.featured--products{
    background-color: #fbfbfb;
}

.cta-sale{
    background-color: #127300;
    color: #fff;
}

footer{
    text-align: center;
}

/* Home page */
.welcome {
    background-image: url="../images/home-header.jpg";
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position-x: right;
    background-position-y: bottom;
}

.selling-points_images {
    border-radius: 100px;
}

.review_images {
    border-radius: 50%;
}

/* Contact Page */
input, select, textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}