header, footer{
    background-color: #202020;
    color: #fff;
}

header a{
    color: #fff;
}

.cta{
    background-color: #bb0000;
    color: #fff;
}

.reviews{
    background-color: #e8e8e8;
}

.featured--products{
    background-color: #fbfbfb;
}

.cta-sale{
    background-color: #127300;
    color: #fff;
}

footer{
    text-align: center;
}